
<section class="SectionComponent py-5 position-relative bg-white text-dark footer css-1708sg"
    __divjoy_instance_path__="4012090-2205723-5496536" data-node-id="6386747"
    data-instance-path="4012090-2205723-5496536">
    <div class=" py-md-5" data-node-id="9929135" data-instance-path="4012090-2205723-5496536">
        <div __divjoy_instance_id__="2857930" __divjoy_instance_path__="4012090-2205723-2857930"
            data-instance-path="4012090-2205723" class="container">
            <div class="FooterComponent__inner css-1t8rynp" data-node-id="9137580" data-instance-path="4012090-2205723">
                <div class="brand left" data-node-id="4694183" data-instance-path="4012090-2205723"><a
                        data-node-id="4960806" data-instance-path="4012090-2205723" href="/"><img
                            src="/static/images/uploads/logo.svg" alt="Logo" data-node-id="4140551"
                            data-instance-path="4012090-2205723"></a></div>
                <div class="links right" data-node-id="8371540" data-instance-path="4012090-2205723"><a
                        data-node-id="1879924" data-instance-path="4012090-2205723" href="/about">About</a><a
                        data-node-id="6446098" data-instance-path="4012090-2205723" href="/faq">FAQ</a><a
                        data-node-id="2565120" data-instance-path="4012090-2205723" href="/contact">Contact</a><a
                        target="_blank" href="https://medium.com" rel="noopener noreferrer" data-node-id="9988760"
                        data-instance-path="4012090-2205723">Blog</a></div>
                <div class="social right" data-node-id="3810280" data-instance-path="4012090-2205723"><a
                        href="https://twitter.com" target="_blank" rel="noopener noreferrer" data-node-id="6363101"
                        data-instance-path="4012090-2205723"><span class="icon" data-node-id="8415390"
                            data-instance-path="4012090-2205723"><i class="fab fa-twitter" data-node-id="7564851"
                                data-instance-path="4012090-2205723"></i></span></a><a href="https://facebook.com"
                        target="_blank" rel="noopener noreferrer" data-node-id="6436254"
                        data-instance-path="4012090-2205723"><span class="icon" data-node-id="7244421"
                            data-instance-path="4012090-2205723"><i class="fab fa-facebook-f" data-node-id="9154533"
                                data-instance-path="4012090-2205723"></i></span></a><a href="https://instagram.com"
                        target="_blank" rel="noopener noreferrer" data-node-id="7874949"
                        data-instance-path="4012090-2205723"><span class="icon" data-node-id="3045136"
                            data-instance-path="4012090-2205723"><i class="fab fa-instagram" data-node-id="8307317"
                                data-instance-path="4012090-2205723"></i></span></a></div>
                <div class="copyright left" data-node-id="1476061" data-instance-path="4012090-2205723">© 2019 Company
                </div>
            </div>
        </div>
    </div>
</section>